<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ben.dizzydwarf.UserMapper">
  <select id="selectUser" resultType="com.ben.dizzydwarf.User">
    select * from user where name = #{name}
  </select>
  
  <insert id="insertUser" parameterType="com.ben.dizzydwarf.User">
  	insert into user(name, password) values(#{name}, #{password})
  </insert>
</mapper>